<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TixWhiz</title>
    <link rel="icon" href="{{ url_for('static', filename='images/ticket_15345749.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/ticket_15345749.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Let's get started!</h1>
        <a href="{{ url_for('form') }}">Start tracking</a>
    </div>
</body>
</html>