<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Success</title>
    <link rel="icon" href="{{ url_for('static', filename='images/ticket_15345749.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/ticket_15345749.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Form Submission Successful</h1>
        <p>Your form has been successfully submitted. Thank you for your input!</p>
        <a href="{{ url_for('landing_page') }}">Return to Home</a>
        <a href="{{ url_for('form') }}">Track Another Website</a>
    </div>
</body>
</html>